.parent{
  padding: 20px;
}

div{
  margin: 10px 0px;
}



.Section{
  padding: 20px 20px;
  border-radius: 25px;
  border: 5px solid;
  border-color: var(--sub-color-1);

  font-size: large;
}

#information{
  text-align: center;
  font-size: larger;
}

.Nav{
  overflow: hidden;
  position: sticky;
  border-radius: 5px;
  top: 0; 
  z-index: 9999;
  background-color: var(--sub-color-1);
  border-color: white;
  border: solid 2px;
}

.Nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.Nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Nav a:hover {

  color: white;
  border-radius: 0px;
}

.Nav a:active {
  background-color: var(--main-bg-color);
}

#education div{
  
  float:left;
  padding: 0px 15px;
}

#education {
  align-items: center;
  overflow: hidden;
  margin: auto;
  width: 50%;
  padding-top: 20px;
}


#education p{
  margin: 0
}

#school_dates {
  float:left
}


#links img {
  height: 30px;
  width: 30px;
}

#links a {
  margin: auto;
  padding: 0px 5px;
}

#name {
  margin: 0;
}

#title {
  margin: 0px 0px 10px 0px;
}