:root{
    --main-bg-color: #172A3A;
    --sub-color-1: #B1DDF1;
    --sub-color-2: #9F87AF;
    --sub-color-3: #88527F;
    --sub-color-4: #1A5E63;

    color: white;
    background-color: var(--main-bg-color);

}